.clear{
  clear: both;
}

html{
  background-color: #F0F2F5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

.App {
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
}

.bar h2{
  display: inline;
  font-size: large;
  padding-left: 30px;
  color: white;
}

.bar{
  background-color: #3b86ff;
  padding: 15px;
}

.tail{
  background-color: #0850C7;
  padding: 5px 15px 5px 65%;
  margin-top: 150px;
}


#barright{
  float: right;
  margin-right: 30px;
}

a{
  padding: 8px 20px 8px 20px;
  margin: 0px 5px 0px 5px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

a:hover{
  transition: 0.3s;
  background-color: #f3f3f3;
  color: black;
}

.Container{
  width: 50%;
  margin: auto;
}

.post{
  margin: 30px 0px;
  padding: 5px;
  border: 1px rgb(70, 70, 70) solid;
  border-radius: 5px;
  background-color: white;
  text-align: justify;
  cursor: pointer;
  transition: 0.1s;
}
.post_in_post{
  margin: 30px 0px;
  padding: 5px;
  border: 1px rgb(70, 70, 70) solid;
  border-radius: 5px;
  background-color: white;
  text-align: justify;
}
.post:hover{
  transform: translateY(-3px);
}

.post_tieude{
  font-weight: bold;
  padding: 0px 10px;
}

.tail_tieude{
  font-weight: bold;
  padding: 0px 10px;
  color: white;
  font-size: small;
}

.post_noidung{
  padding: 0px 10px 0px 30px;
}

.tail_noidung{
  padding: 0px 10px 0px 30px;
  color: white;
  font-size: small;
}

.post_comment{
  font-size: small;
  color: red;
  text-align: right;
  padding-right: 30px;
}

.Loginpage{
  background-color: white;
  margin: 50px auto 0px;
	width: 500px;
  border: green 1px solid;
  border-radius: 10px;
}
.Loginform{
  width: 300px;
  margin: 50px auto 30px;
}

input{
  text-align: center;
  margin: 30px auto 0px;
  width: 300px;
  height: 30px;
  border: none;
  border-bottom: 1px rgb(75, 75, 75) solid;
  transition: 0.3s;
  display: block;
}

input:focus{
  outline: none;
  border-bottom: 2px black solid;
}

button{
  width: 120px;
  height: 30px;
}
#subbutton{
  margin: 50px auto 0px;
  width: 120px;
}
.sub_button{
  margin: 50px auto 50px;
  width: 270px;
}

::placeholder{
  text-align: center;
}

#Login_status{
  color: red;
  font-style: italic;
  text-align: right;
  font-size: small;
  padding: 0px 15px 30px;
}

table{
  margin: 30px auto;
  border-collapse: collapse;
  width: 50%;
  background-color: white;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

th{
    background-color: darkblue;
    color:white;
}

#real_name{
  padding: 8px 20px 8px 20px;
  margin: 0px 5px 0px 5px;
  border-radius: 5px;
  border: 1px rgb(221, 221, 221) solid;
  display: inline;
  font-weight: bold;
  color: white;
}

.nhapdiem_tieude{
  font-weight: bold;
  padding: 8px 20px 8px 20px;
  margin: 0px 5px 0px 5px;
  display: inline; 
  color: white;
}

.nhapdiem_mon{
  display: inline;
  padding: 8px 20px 8px 20px;
  margin: 0px 5px 0px 5px;
  border-radius: 10px;
  color: white;
}

.nhapdiem_mon:hover{
  cursor: pointer;  
  transition: 0.3s;
  background-color:  #f3f3f3;
  color: black;
}

.mother_of_tail{
  background-color: blue;
  color: white;
  text-align: center;
  font-size: small;
  padding-bottom: 15px;
}